name: screen_me
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  lottie: ^2.7.0
  http: ^0.13.4
  crypto: ^3.0.2
  intl: ^0.18.0
  clipboard: ^0.1.3
  shared_preferences: ^2.0.13
  url_launcher: ^6.1.0
  json_annotation: ^4.8.1
  cached_network_image: ^3.3.0
  hooks_riverpod: ^2.4.6
  flutter_hooks: ^0.20.3
  riverpod_annotation: ^2.3.1
  freezed_annotation: ^2.4.1
  window_manager: ^0.3.7
  flutter_animate: ^4.4.0
  syncfusion_flutter_charts: ^24.1.46+1
  flutter_blue_plus: ^1.31.10
  flutter_volume_controller: ^1.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  json_serializable: ^6.7.1
  build_runner: ^2.4.6
  riverpod_generator: ^2.3.6
  freezed: ^2.4.5
  custom_lint: ^0.5.6
  riverpod_lint: ^2.3.4

flutter:

  uses-material-design: true

  fonts:
    - family: Dohyen
      fonts:
        - asset: assets/fonts/DoHyeon.ttf

  assets:
    - assets/


  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
